extends layout

block content
  #app
    #main

    aside#aside
      #search
        form
          input(type='text')
          a(href='#', class='postfix button expand')
            i.icon-search
            | Find
          .clear
      nav
