doctype 5
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro')

    script(src='/javascripts/lib/json2.js')
    script(src='/javascripts/lib/jquery-1.8.1.js')
    script(src='/javascripts/lib/jquery.tinysort.js')
    script(src='/javascripts/lib/underscore-1.3.3.js')
    script(src='/javascripts/lib/backbone-0.9.2.js')
    script(src='/javascripts/lib/jquery.foundation.reveal.js')
    script(src='/javascripts/app.js')

  body
    header
        h1 Mark

    block content
