doctype 5
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro')

  body(style="height: auto; width: auto;")
    block content