extends login_layout

block content
  article.intro
    h1
      | I am
      span.mark
        != " Mark"
    p.lead
      | I am a free web-based markdown editor. You write markdown and I convert it into HTML. I can even create PDF
      | documents for you.
    p.lead
      | Go ahead and use me. You don't even need to create an account.
    p
      a(class="button", href="/auth/github")
        | Login With GitHub

