@import 'foundation.css';
@import 'font-awesome.css';
::-webkit-scrollbar{width:12px;background-color:#bbb lack;-webkit-box-shadow:inset 3px 0 6px rgba(0,0,0,0.3)}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);-webkit-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);background-color:#161616}
.reveal-modal{position:fixed;bottom:100px;background-color:#222;}
.reveal-modal iframe{width:100%;height:100%;background:#fff;border:1px solid #000}
.reveal-modal h1,.reveal-modal h2,.reveal-modal h3,.reveal-modal h4,.reveal-modal h5{color:#aaa;font-weight:normal;text-align:left}
.reveal-modal a.close-reveal-modal{color:#aaa}
.reveal-modal div.actions{text-align:right;color:#aaa;display:inline-block}
.reveal-modal-bg{background-color:#666;opacity:.5 !important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50) !important;filter:alpha(opacity=50) !important}
a{color:#5c38b0;}
a:hover{color:#623bbb}
.button{background-color:#222;-webkit-border-radius:3px;border-radius:3px;border:1px solid #111;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0);vertical-align:center;}
.button:hover{background-color:#2d2d2d}
.button.save{background-color:#5c28b0;}
.button.save:hover{background-color:#622bbc}
body,html{width:100%;height:100%}
body{margin:0;padding:0;background:#000 url("../images/subtle_carbon.png") top left repeat;font-family:"Source Sans Pro","Helvetica Neueu",Arial,"Helvetica",Helvetica,sans-serif}
article.intro{margin-top:10%;margin-left:10%;margin-right:10%;margin-bottom:0;padding:5%;background:rgba(0,0,0,0.5);}
article.intro h1{margin:0;padding:0;color:#aaa;text-shadow:0 -1px 0 rgba(0,0,0,0.5);text-transform:lowercase;font-family:'VT323',cursive;font-weight:normal;display:inline-block;}
article.intro h1 .mark{color:#5c38b0}
article.intro p.lead{color:#666;margin-bottom:10px;text-shadow:0 -1px 0 rgba(0,0,0,0.5)}
body > header{position:absolute;top:0;left:0;right:0;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #222));background:-webkit-linear-gradient(top, #333 0%, #222 100%);background:-moz-linear-gradient(top, #333 0%, #222 100%);background:-o-linear-gradient(top, #333 0%, #222 100%);background:-ms-linear-gradient(top, #333 0%, #222 100%);background:linear-gradient(top, #333 0%, #222 100%);padding:15px;overflow:hidden;border-top:1px solid #363636;border-bottom:1px solid #111;}
body > header h1{margin:0;padding:0;color:#5c38b0;text-shadow:0 -1px 0 rgba(0,0,0,0.5);text-transform:lowercase;font-family:'VT323',cursive;font-weight:normal;display:inline-block}
body > header a.new{float:right;margin-top:7px;margin-left:7px;border:1px solid #111}
body > #app #aside #search{position:absolute;bottom:0;left:0;width:260px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #222));background:-webkit-linear-gradient(top, #333 0%, #222 100%);background:-moz-linear-gradient(top, #333 0%, #222 100%);background:-o-linear-gradient(top, #333 0%, #222 100%);background:-ms-linear-gradient(top, #333 0%, #222 100%);background:linear-gradient(top, #333 0%, #222 100%);border-top:1px solid #111;}
body > #app #aside #search form{padding:15px;margin-bottom:0;}
body > #app #aside #search form input{margin-bottom:0;width:60%;float:left;background-color:#222;color:#a0a0a0;border-color:#111}
body > #app #aside #search form a{include:padding:0;;width:35%;float:right}
body > #app #aside #search form .clear{clear:both}
body > #app #aside nav{position:absolute;top:80px;left:0;bottom:63px;width:260px;overflow-x:hidden;overflow-y:visible;background:#222;}
body > #app #aside nav ul{list-style:none;margin:0;padding:0;}
body > #app #aside nav ul li{margin:0;padding:0;padding:15px;color:#a0a0a0;border-top:1px solid #262626;border-bottom:1px solid #161616;}
body > #app #aside nav ul li span.title{white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;display:block;width:85%;float:left}
body > #app #aside nav ul li span.controls{display:block;float:right;width:12%;text-align:right}
body > #app #aside nav ul li .clear{clear:both}
body > #app #aside nav ul li a.destroy{display:none}
body > #app #aside nav ul li:hover{background:#262626;border-top-color:#262626;color:#5c38b0;cursor:pointer;}
body > #app #aside nav ul li:hover a.destroy{display:block}
body > #app #main{background:#222;border:1px solid #000;position:absolute;top:95px;left:275px;right:15px;bottom:15px;overflow:hidden;padding:15px;}
body > #app #main input,body > #app #main textarea{margin:0;padding:0;background:transparent;border-color:transparent;color:#a0a0a0;-webkit-box-shadow:0 0 0 0;box-shadow:0 0 0 0}
body > #app #main textarea{height:100%;resize:none;padding:15px}
body > #app #main .title{position:absolute;top:0;left:0;right:0;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #222));background:-webkit-linear-gradient(top, #333 0%, #222 100%);background:-moz-linear-gradient(top, #333 0%, #222 100%);background:-o-linear-gradient(top, #333 0%, #222 100%);background:-ms-linear-gradient(top, #333 0%, #222 100%);background:linear-gradient(top, #333 0%, #222 100%);padding:15px;border-bottom:1px solid #111}
body > #app #main .content{position:absolute;top:62px;left:0;right:0;bottom:68px}
body > #app #main .actions{position:absolute;bottom:0;left:0;right:0;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #222));background:-webkit-linear-gradient(top, #333 0%, #222 100%);background:-moz-linear-gradient(top, #333 0%, #222 100%);background:-o-linear-gradient(top, #333 0%, #222 100%);background:-ms-linear-gradient(top, #333 0%, #222 100%);background:linear-gradient(top, #333 0%, #222 100%);padding:15px;text-align:right;color:#aaa;text-shadow:0 -1px 0 rgba(0,0,0,0.5);border-top:1px solid #111;}
body > #app #main .actions .preview{float:left}
