@import 'foundation.css';
@import 'font-awesome.css';
@import 'mixins';

::-webkit-scrollbar {
  width: 12px;
  background-color: #black;
  -webkit-box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #161616;
}

.reveal-modal {
  position: fixed;
  bottom: 100px;
  background-color: #222222;

  iframe {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid black;
  }

  h1, h2, h3, h4, h5 {
    color: #aaaaaa;
    font-weight: normal;
    text-align: left;
  }

  a.close-reveal-modal {
    color: #aaaaaa;
  }

  div.actions {
    text-align: right;
    color: #aaaaaa;
    display: inline-block;
  }
}

.reveal-modal-bg {
  background-color: #666;
  opacity: 0.5 !important;
}

a {
  color: #5C38B0;

  &:hover {
    color: lighten(#5C38B0, 5%);
  }
}

.button {
  background-color: #222222;
  border-radius(3px);
  border: 1px solid #111111;
  box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
  vertical-align: center;

  &:hover {
    background-color: lighten(#222222, 5%);
  }
}

.button.save {
  background-color: #5C28B0;

  &:hover {
    background-color: lighten(#5C28B0, 5%);
  }
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  reset-box();
  background: #000 url('../images/subtle_carbon.png') top left repeat;
  font-family: "Source Sans Pro", "Helvetica Neueu", Arial, "Helvetica", Helvetica, sans-serif;
}

article.intro {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  padding: 5%;
  background: rgba(0, 0, 0, 0.5);

  h1 {
    reset-box();
    color: #aaaaaa;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: lowercase;
    font-family: 'VT323', cursive;
    font-weight: normal;
    display: inline-block;

    .mark {
      color: #5C38B0;
    }
  }

  p.lead {
    color: #666666;
    margin-bottom: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
}

body {
  > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(top, #333333, #222222);
    padding: 15px;
    overflow: hidden;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #111;

    h1 {
      reset-box();
      color: #5C38B0;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      text-transform: lowercase;
      font-family: 'VT323', cursive;
      font-weight: normal;
      display: inline-block;
    }

    a.new {
      float: right;
      margin-top: 7px;
      margin-left: 7px;
      border: 1px solid #111;
    }
  }

  > #app {
    #aside {
      #search {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 260px;
        background: linear-gradient(top, #333333, #222222);
        border-top: 1px solid #111;

        form {
          padding: 15px;
          margin-bottom: 0px;

          input {
            margin-bottom: 0px;
            width: 60%;
            float: left;
            background-color: #222222;
            color: #a0a0a0;
            border-color: #111;
          }

          a {
            @include reset-box();
            width: 35%;
            float: right;
          }

          .clear {
            clear: both;
          }
        }
      }

      nav {
        position: absolute;
        top: 80px;
        left: 0px;
        bottom: 63px;
        width: 260px;
        overflow-x: hidden;
        overflow-y: visible;
        background: #222;

        ul {
          list-style: none;
          reset-box();

          li {
            reset-box();
            padding: 15px;
            color: #a0a0a0;
            border-top: 1px solid #262626;
            border-bottom: 1px solid #161616;

            span.title {
              white-space: no-wrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block;
              width: 85%;
              float: left;
            }

            span.controls {
              display: block;
              float: right;
              width: 12%;
              text-align: right;
            }

            .clear {
              clear: both;
            }

            a.destroy {
              display: none;
            }

            &:hover {
              background: #262626;
              border-top-color: #262626;
              color: #5C38B0;
              cursor: pointer;

              a.destroy {
                display: block;
              }
            }
          }
        }
      }
    }

    #main {
      background: #222222;
      border: 1px solid black;
      position: absolute;
      top: 95px;
      left: 275px;
      right: 15px;
      bottom: 15px;
      overflow: hidden;
      padding: 15px;

      input,
      textarea {
        reset-box();
        background: transparent;
        border-color: transparent;
        color: #a0a0a0;
        box-shadow(0, 0, 0, 0.0);
      }

      textarea {
        height: 100%;
        resize: none;
        padding: 15px;
      }

      .title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(top, #333333, #222222);
        padding: 15px;
        border-bottom: 1px solid #111;
      }

      .content {
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        bottom: 68px;
      }

      .actions {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(top, #333333, #222222);
        padding: 15px;
        text-align: right;
        color: #aaaaaa;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        border-top: 1px solid #111;

        .preview {
          float: left;
        }
      }
    }
  }
}
